Debug
Release
DiceRoller/Debug
DiceRoller/Release
*.suo
# Compiled Object files
*.slo
*.lo
*.o
*.out
*.vcxproj.user

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
